<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Public</th>
      <th>Title</th>
      <th>Jira ID</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Какая птичка в клетке</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.public_id %></td>
        <td><%= task.title %></td>
        <td><%= task.jira_id %></td>
        <td><%= task.description %></td>
        <td><%= task.creator.email %></td>
        <td><%= task.assigned_to.email %></td>
        <% if task.completed? %>
          <td> Просо в миске </td>
        <% else %>
            <td> Птичка в клетке</td>
        <% end %>
        <% unless task.completed? %>
          <td><%= link_to 'Насыпать просо в миску', completed_task_path(task), method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<% if @current_user.manager_access?  %>
  <%= link_to 'Reassing open tasks', reassign_all_open_tasks_path, method: :post %>
<% end %>
<br/>
<br/>