<p id="notice"><%= notice %></p>

<h1>Accounting</h1>

<% if manager_access? %>
  <h2> Common statistics </h2>
  <p> Current company profit <%= @company_profit_amount %> $ </p>
  <p> View statistics data here: </p>
<% else %>
  <h2>Balance</h2>
  <p> <%= current_user.balance %> $ </p>
  <br>
  <h2>Audit</h2>

  <table>
    <thead>
    <tr>
      <th>Public ID</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>Task description</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.public_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.reason %></td>
        <td><%= transaction.task&.description.to_s %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>